.ht {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 87%;
  background-color: rgb(14, 22, 95);
  color: white;
  transition: left 0.3s ease;
  border-radius: 60px;
  margin-top: 126px;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  padding: 20px;
  margin: 0; /* Removed margin-top: 0; */
}

.sidebar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.sidebar li {
  display:block; /* Ensure <li> elements display as blocks */
  padding: 30px 20px;
  cursor: pointer;
  font-size: large;
}

.sidebar li:hover {
  background-color: #f7f5fa;
}
.admincontent{
  height: 10px;
}
