.candidate-welcomepage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("images/2.jpg"); */
    background-size: cover;
    background-position: center;
    width: 100%;
   
  }
  
  
  .candidatewelcomecontainer {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .candidatewelcomecontainer h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333; /* Example text color */
  }
  
  .welcome-text {
    font-size: 18px;
    line-height: 1.6;
    color: #555; /* Example text color */
  }
  
  
  @media all and (max-width:900px){
    .welcome-text {
       overflow: scroll;
    }
  }