.candidatewelcomepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url("images/2.jpg"); */
    background-size: cover;
    background-position: center;
  }
  
  
  .candidatewelcomecontainer {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .candidateuser-icon {  
    font-size: 60px;
    color: #007bff;
    margin-bottom: 40px;
    animation: floatIcon 3s ease infinite; /* Example animation */
  }
  
  @keyframes floatIcon {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .candidatewelcomecontainer h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333; /* Example text color */
  }
  
  .welcome-text {
    font-size: 18px;
    line-height: 1.6;
    color: #555; /* Example text color */
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  /* .sign-up-btn,
  .login-btn {
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  .sign-up-btn:hover,
  .login-btn:hover {
    background-color: #ccd6e0;
  }
  #log-btn{
    background: #000;
  }
  
  @media all and (max-width:900px){
    .welcome-text {
       overflow: scroll;
    }
  }