.NavbarItems {
  background: rgb(14, 22, 95);
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-shadow: 0px 0px 10px 3px rgb(83, 81, 81);
  border-radius: 10px;
  width: 100%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -5px;
  padding: 15px;
  padding-bottom: 0px;
  align-content: center;
  align-items: center;
  text-align: center;
}

#img1 {
  width: 60px;
  height: 60px; 
}

ul {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.logocontent {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.Navbar-logo {
  position: relative;
  text-align: start;
  background: linear-gradient(135deg, #ee4e0a, white, rgb(5, 219, 5));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  top: 5px;
  width: 150px;
  display: flex;
  align-items: center;
}

.Navbar-logo p {
  padding: 5px;
  margin: 0px;
}

.menu {
  display: flex;
  grid-template-columns: repeat(5);
  list-style: none;
  align-items: end;
  justify-content: flex-end;
  grid-gap: 15px;
  width: 100%;
}

.links {
  text-decoration: none;
  color: rgb(251, 248, 248);
  font-size: 20px;
  font-weight: 550;
  padding:5px 25px 5px 5px;
  white-space: nowrap;
}

.links i {
  padding-right: 10px;
  margin-left: 10px;
}

.links:hover {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(14, 22, 95);
  transition: all 0.2s ease-in-out;
  width: 100%;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

nav .menu {
  display: none;
  position: absolute;
  top: -10px;
  right: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 50px;
}

nav .menu span {
  height: 40px;
  width: 100%;
  background: whitesmoke;
  border-radius: 0.3rem;
}
ul li {
  list-style: none;
}

#navigator {
  margin: 0;
  display: none;
}

@media screen and (max-width: 1000px) {
  .NavbarItems {
    align-items: flex-start;
  }

  nav .menu {
    display: flex;
    top: 30px;
  }

  nav {
    flex-direction: column;
    background: #011042;
    z-index: 1;
    margin: 0px;
  }

  nav ul {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(14, 22, 95);
    width: 100%;
    z-index: 1;
  }

  .links {
    font-size: x-small;
    padding: 8px;
  }

  .links i {
    padding-right: 0;
    margin: 5px;
    margin-bottom: 10px;
  }

  nav .open {
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .links:hover {
    width: 100%;
    border-radius: 15px;
    #navigator {
      display: block;
    }
  }
}
