.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
  }

  .user-profile-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .sidebar{
    position: fixed;
    z-index: 1;
  }
  
  .user-profile-box {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow:  0px 0px 10px 10px rgb(164, 163, 197);
    font-size: 90%;
    border-radius: 10px;
  }
  
  .profile-table {
    width: 100%;
    padding: 20px;
  }
  
  .profile-table td {
    text-align: start;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-table td:first-child {
    font-weight: bold;
    white-space: nowrap;
  }

  #adressd{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }